body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    margin: 10px;
    font-size: 18px;
}

.main-title {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.main-title.left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.main-caption {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
    font-weight: 400;
}

.sign-up {
    background-color: #3882F6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.sign-up:hover {
    background-color: #87b4f9;
}

img.header {
    width: 400px;
    margin: 0 0 0 100px;
}

.information > h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
}

.image > img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.image {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 24px;
    color: #4b5563;
}

